@{
    ViewData["Title"] = "Products";
}

<div class="row">
    <div class="col-md-2">
        <form action="/products" method="POST">
            <input type="text" name="filter" /><br/>
            <input type="submit" value="Filter" />
        </form>
        <br/><br/>
        <u><b>Add a new product</b></u><br/>
        
        <form action="/products/add" method="POST">
            Name:<br/>
            <input type="text" name="Name" placeholder="name..." /><br/><br/>
            Image (url):<br/>
            <input type="text" name="Image" placeholder="http://" /><br/><br/>
            Description:<br/>
            <input type="text" name="Description" /><br/><br/>
            Initial Quantity:<br/>
            <input type="number" name="Quantity" /><br/><br/>
            <input type="submit" class="btn btn-success" value="Create" />
        </form>
    </div>
    <div class="col-md-10">
        @foreach(Product prod in Model) {
            @:<div class="col-md-3">
                @:<img src="@prod.Image" width="160px" /><br/>
                    @prod.Name
                @:<br/>(
                    @prod.Quantity
                @:left)
            @:</div>
        }
    </div>
</div>